<div class="container-fluid client-feedback-wrap">
  <div class="heading text-center">
    {% if section.settings.heading != blank %}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}
  </div>
  <div class="owl-carousel owl-theme" id="feedback">
    {% for block in section.blocks %}
      <div class="item">
        <div class="client-image">
          {% if block.settings.after_before_image != blank %}
            <img loading="lazy" src="{{ block.settings.after_before_image | img_url: 'master' }}">
          {% endif %}
        </div>
        <div class="client-info text-center">
          {% if block.settings.msg != blank %}
            {{ block.settings.msg }}
          {% endif %}
          {% if block.settings.client_name != blank %}
            {{ block.settings.client_name }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Client Feedback",
  "tag": "section",
  "class": "client-feedback",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Feedback Heading"
    }
  ],
  "blocks": [
    {
      "type": "feedback",
      "name": "feedback",
      "settings": [
        {
          "type": "image_picker",
          "id": "after_before_image",
          "label": "After before image"
        },
        {
          "type": "richtext",
          "id": "msg",
          "label": "Client Massege"
        },
        {
          "type": "richtext",
          "id": "client_name",
          "label": "Client Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Client Feedback"
    }
  ]
}
{% endschema %}
