<div class="container-fluid">
  <div class="banner-image">
    {% if section.settings.banner_image != blank %}
      <img src="{{ section.settings.banner_image | img_url:'medium' }}" />
    {% endif %}
  </div>
  <div class="banner-other">
    {% if section.settings.banner_heading != blank %}
      <h3>{{ section.settings.banner_heading }}</h3>
    {% endif %}
    {% if section.settings.banner_desc != blank %}
      <p>{{ section.settings.banner_desc }}</p>
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Faq Banner",
    "tag": "section",
    "class": "faq-banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Select Banner Image"
      },
      {
        "type": "text",
        "id": "banner_heading",
        "label": "Banner Header"
      },
      {
        "type": "richtext",
        "id": "banner_desc",
        "label": "Banner Description"
      }
    ],
    "presets": [
      {
        "name": "Faq Banner"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}