<div class="container-fluid">
    
</div>
{% schema %}
{
  "name": "Product Benefit",
  "tag": "section",
  "class": "benefit",
  "settings": [
    {
      "type": "text",
      "id": "product_logo",
      "label": "Product Logo"
    },
    {
      "type": "richtext",
      "id": "product_heading",
      "label": "Product Heading"
    },
    {
      "type": "richtext",
      "id": "benefit",
      "label": "Product Benefit"
    },
    {
      "type": "richtext",
      "id": "brand",
      "label": "Brands"
    }
  ]
}
{% endschema %}
