<div class="container">
    <div class="comperision-heading">
        {%if section.settings.comperision_heading != blank%}
            <h2>{{section.settings.comperision_heading}}</h2>
        {%endif%}
    </div>
    <div class="comperision">
        <div class="row align-items-center">
        <div class="col-lg-4">
            <div class="com-img">
                {%if section.settings.comprision_image != blank%}
                    <img src="{{section.settings.comprision_image | img_url: 'master'}}">
                {%endif%}
            </div>
        </div>
        <div class="col-lg-8">
            <div class="details">
                {{ product.metafields.global.comparision-details.value }}
            </div> 
        </div>
        </div>
    </div>
</div>
{%schema%}
{
    "name": "Product Comperision",
    "tag": "section",
    "class": "comperision",
    "settings": [
        {
            "type": "text",
            "id": "comperision_heading",
            "label": "Comperision Heading"
        },
        {
            "type": "image_picker",
            "id": "comprision_image",
            "label": "Select Comperision Image"
        }
    ],
    "presets": [
        {
            "name": "Product Comperision"
        }
    ]
}
{%endschema%}