<div class="container">
    {% if section.settings.product_logo != blank %}
        <div class="product_image">
            <img src="{{ section.settings.product_logo | img_url: 'medium' }}" />
        </div>
    {%endif%}
    <div class="details">
        {%if section.settings.product_heading != blank%}
            <h2>{{ section.settings.product_heading }}</h2>
        {%endif%}
        {{ product.metafields.global.Benefit details.value }}
        <div class="brands">
            {{ section.settings.brand }}
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Product Benefit",
  "tag": "section",
  "class": "benefit",
  "settings": [
    {
      "type": "image_picker",
      "id": "product_logo",
      "label": "Product Logo"
    },
    {
      "type": "text",
      "id": "product_heading",
      "label": "Product Heading"
    },
    {
      "type": "richtext",
      "id": "brand",
      "label": "Brands"
    }
  ],
  "presets": [
    {
        "name": "Product Benefit"
    }
  ]
}
{% endschema %}
