<div class="container">
    {%if section.settings.heading != blank%}
        <h2>{{section.settings.heading}}</h2>
    {%endif%}
    <div class="component">
        {{ product.metafields.global.component-details.value }}
    </div>
</div>
{%schema%}
{
    "name": "Zelaze Component",
    "tag": "section",
    "class": "zelaze-component",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Component Heading"
        }
    ],
    "presets": [
        {
            "name": "Zelaze Component"
        }
    ]
}
{%endschema%}