/*===========================================
@Developed By: Ayan Paul (Zelazeskin-Shopify)
============================================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* {font-family: "Poppins", sans-serif;} */

/*---common-style---*/

html {scroll-behavior: smooth;}
i:before {margin-left: 0px !important;}
ul {padding: 0;margin: 0;}
ul li {text-decoration: none;list-style: none;}
body {letter-spacing: 0px; font-size: 20px; font-family: "Poppins", sans-serif; font-weight: 400; color: #000; padding: 0px; overflow-x: hidden; z-index: 0; margin: 0 !important;}
p {letter-spacing: 0;}

a, .btn, button {text-decoration: none; outline: none !important; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; -o-transition: all 0.4s ease; display: inline-block;}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {text-decoration: none; outline: none !important; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {outline: none !important; -webkit-box-shadow: none; box-shadow: none; text-decoration: none;}
a {color: #00b0dc;}

img {max-width: 100%;}

h1, h2, h3, h4, h5, h6 {font-family: "Poppins", sans-serif;font-weight: 500;margin-bottom: 20px;color: #000;letter-spacing: 0;}
h1 {font-size: 70px;line-height: 80px;}
h2 {font-size: 48px;line-height: 58px;}

.btn {background: url(btn-bg.png) no-repeat;background-size: 100% 100%;background-position: center center;text-align: center;color: #fff;border-radius: 30px; padding: 12px 40px;box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.03), 0px 7px 10px 0px rgba(0, 0, 0, 0.14);text-transform: uppercase;text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);font-size: 20px;font-weight: 500;font-family: 'Poppins';border: none;}
.btn:hover {color: #fff;transform: scale(1.02);}

.owl-nav .owl-prev {width: 60px;height: 60px;margin: 0 !important;border-radius: 100% !important;background: url(left-arrow.png) no-repeat !important;background-size: contain !important;background-position: center center !important;box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.03), 0px 7px 10px 0px rgba(0, 0, 0, 0.14);position: absolute;left: -80px;top: 33%;transform: translateY(-33%);}
.owl-nav .owl-next {width: 60px;height: 60px;margin: 0 !important;border-radius: 100% !important;background: url(right-arrow.png) no-repeat !important;background-size: contain !important;background-position: center center !important;box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.03), 0px 7px 10px 0px rgba(0, 0, 0, 0.14); position: absolute;right: -80px;top: 33%;transform: translateY(-33%);}
.owl-nav button span {font-size: 0;}

/*---common-style---*/

.custom-header {background: linear-gradient(90deg, #8D69B0 0%, #252ABA 27.17%, #1F64E5 38.00%, #46CAF9 49.97%, #72EBE3 61.77%, #79DFC9 67.30%, #C7AE88 73.22%, #D94442 79.38%, #E52A46 85.12%, #D6376B 96.91%, #96597E 100%); box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);} 
.custom-header .header {max-width: 100%; padding: 0 60px !important;}
.custom-header .header__icons .sec_menu ul {display: flex;align-items: center;}
.custom-header .header-wrapper {margin-top: 10px;}
.custom-header .list-menu .header__menu-item, .custom-header .header__icons .sec_menu ul li a  {font-size: 20px;font-weight: 500;color: #1c1c1c;letter-spacing: 0;padding: 0;}
.custom-header .list-menu li, .custom-header .header__icons .sec_menu ul li {margin-right: 30px;}
.custom-header .list-menu li:last-child {margin-right: 0;}
.custom-header .list-menu .header__menu-item span {text-decoration: none;}
.custom-header .header__icons .sec_menu ul li a.btn {padding: 12px 40px;color: #fff;}
.custom-header .header__icons {align-items: center;}
.custom-header .header__icon--cart {margin-right: 0;}
.custom-header .header__inline-menu {margin-left: 0;}

.banner-text .left {background: url(bn-left-bg.jpg) no-repeat; background-size: cover;background-position: center center;height: 100%;width: 100%;padding: 100px;padding-right: 70px;}
.banner-text .right {height: 100%;width: 100%;}
.banner-text .right img {width: 100%;height: 100%;object-fit: cover;}
.banner-text .left h1 {margin-bottom: 40px;}
.banner-text .client {display: flex;align-items: center;margin-top: 60px;}
.banner-text .client .client-img {min-width: 220px;max-width: 220px;margin-right: 30px;overflow: hidden;}
.banner-text .client .client-img img {width: 100%; height: 100%; object-fit: cover;}
.banner-text .client .client-info h4 {font-size: 29pt;line-height: 31pt;font-weight: 500;}
.banner-text .client .client-info h6 {font-size: 16pt;font-weight: 500;margin: 0;}

.client-feedback {padding: 100px 0;}
.client-feedback .container-fluid {padding-left: 100px; padding-right: 100px;}
.client-feedback .client-info {padding: 20px;}
.client-feedback .client-info p {margin: 0 auto 30px;font-weight: 500; max-width: 350px;}
.client-feedback .client-info p:last-child {margin-bottom: 0;}

.product-select .details-list ul {display: flex;flex-wrap: wrap;justify-content: center;max-width: 790px;margin: 50px auto 30px;}
.product-select .details-list ul li {width: 50%;display: flex;align-items: center;justify-content: center;margin-bottom: 30px;}
.product-select .details-list ul li h4 {font-size: 18pt;font-weight: 500;margin: 0;min-width: 260px;text-align: left;}
.product-select .details-list ul li img {width: 60px;height: 60px;object-fit: contain;margin-right: 20px;}
.product-select .right-side {padding: 100px;background: url(color-bg.png) no-repeat;background-size: cover; background-position: center center; height: 100%;}
.product-select .right-side h3 {font-size: 20pt;letter-spacing: 3px;}
.product-select .right-side .top-logo-ps {margin-bottom: 30px;}
.product-select .right-side .product-select-bottom-text h5 {font-size: 18pt;}
.product-select .right-side .product-select-bottom-text {max-width: 650px; margin: 0 auto;}
.product-select .right-side .product-select-bottom-text h6 {font-size: 20pt;font-weight: 600;color: #00B3DF;margin-top: 20px;}
.product-select .left-side {height: 100%;}
.product-select .left-side img {width: 100%; height: 100%; object-fit: cover;}

.video-slider {padding: 100px 0;}
.video-slider .head-sub  h6 {font-size: 24pt;color: #939393;font-weight: 400;}
.video-slider .head-sub {margin-bottom: 50px;}
.video-slider .video-wrap {position: relative;border-radius: 10px;overflow: hidden;height: 440px;}
.video-slider .video-wrap .video {height: 440px; width: 100%;object-fit: cover;}
.video-slider .video-wrap .playbtn {position: absolute;bottom: 20px;right: 20px;width: 60px;height: 60px;cursor: pointer;}
.video-slider .owl-nav .owl-prev, .video-slider .owl-nav .owl-next {top: 50%;transform: translateY(-50%);}

.dual-approach .dual {margin-bottom: 50px;}
.dual-approach .dual img {margin-bottom: 20px;}
.dual-approach .dual-app ul {flex-wrap: wrap;display: flex;}
.dual-approach .dual-app ul li {width: 25%;padding: 0 15px;}
.dual-approach .dual-app ul li span {display: inline-block;max-width: 130px;max-height: 130px;margin-bottom: 30px;}
.dual-approach .dual-app ul li h6 {max-width: 280px;margin: 0 auto;font-size: 20pt;}
.dual-approach {padding: 100px 0; background: url(color-bg-3.jpg) no-repeat; background-size: cover; background-position: center center;}

.custom-image-text .page-width {opacity: 1;}
.custom-image-text {padding-top: 100px;padding-bottom: 100px;}
.custom-image-text .image-with-text__heading {font-size: 48px;letter-spacing: 0;font-weight: 500;}
.custom-image-text  .image-with-text__text p {font-size: 24pt;color: #939393;font-weight: 400;max-width: 695px;}
.custom-image-text .image-with-text__media {border: none;}

#insta-feed {padding: 0 !important;margin: 0 !important;margin-bottom: 100px !important;}
#insta-feed h2 {font-size: 48px !important;}

.footer  {border: none;margin: 0 !important;background: url(footer-bg.png) no-repeat; background-size: cover; background-position: center center;padding-top: 100px !important;}
.footer .footer-block__heading {font-size: 26pt;line-height: 30pt;margin-bottom: 50px;}
.footer .footer-block__heading strong {font-weight: 500;}
.footer .footer-block__details-content li a {font-size: 20pt;color: #000;font-weight: 500;letter-spacing: 0;line-height: 20pt;padding: 0;}
.footer .footer-block__details-content li {margin-bottom: 20px;;}
.footer .footer__blocks-wrapper .footer-block.grid__item:nth-child(2) {padding-left: 5%;}
.footer .footer-block--newsletter .footer-block__heading {margin-bottom: 20px;}
.footer .footer-block--newsletter .footer-block__newsletter {max-width: 600px;}
.footer .footer-block--newsletter .footer-block__subheading {color: #000;;}
.footer .social-media h4  {font-size: 26pt;line-height: 30pt;margin-bottom: 20px;color: #000;text-align: right;}
.footer .footer-block--newsletter {align-items: flex-start;margin-top: 80px;}
.footer .social-media .list-social__item .icon { height: 2.5rem;width: 2.5rem;}
.footer .social-media .list-social__link {padding: 0;color: #000;}
.footer .social-media ul li {margin-left: 20px;;}
.footer .newsletter-form {max-width: 100%;}
.footer .newsletter-form__field-wrapper {max-width: 100%;margin-top: 20px;}
.footer .newsletter-form__button {min-width: 190px;}
.footer .field__input {height: 60px;border: none;padding-right: 20rem !important; border-radius: 60px;font-size: 14px;}
.footer .field__input:focus {box-shadow: none;;}
.footer .newsletter-form__field-wrapper .field::before, .newsletter-form__field-wrapper .field::after {display: none;}
.footer .footer__content-bottom {background: url(foo-end-bg.png) no-repeat; background-size: cover; background-position: center center;text-align: center; border: none;padding: 40px 0;}
.footer .footer__content-bottom .footer-content {max-width: 225px;margin: 0 auto;}
.footer .footer__content-top {padding-bottom: 100px;}
.footer .newsletter-form__field-wrapper .field__label {top: 20px;letter-spacing: 0;}
.footer .field__input:focus~.field__label,  .footer .field__input:not(:placeholder-shown)~.field__label, .footer .field__input:-webkit-autofill~.field__label {top: 10px;}

.image-text {padding: 100px 0;}
.image-text .content_img img {width: 100%;height: 100%;object-fit: cover;}
.image-text .content_img {overflow: hidden;border-top-left-radius: 50px;border-bottom-right-radius: 50px;}
.image-text .container {max-width: 950px;}
.image-text .container .row:nth-child(even) {padding: 100px 0;}
.image-text .content-details {padding-left: 50px;}
.image-text .container .row:nth-child(even) .content-details {padding-right: 50px; padding-left: 0;}
.result-banner .banner-details {padding-left: 70px;padding-right: 70px;max-width: 750px;}
.result-banner .banner-details .btn {margin-top: 20px;;}
.result-banner .banner-details h1 {text-align: left;margin-top: 0;margin-bottom: 20px;font-size: 70px;}
.result-banner .banner-details p {color: #000;;}

.faq .accordion .accordion-item {border-radius: 0;overflow: hidden;border: none;border-top: 1px solid #5e5e5e;}
.faq .accordion-titel {padding: 50px 0;cursor: pointer;padding-right: 30px;}
.faq .accordion-contant {padding: 0 0 50px;display: none;}
.faq .accordion-titel h2 span {display: none;}
.faq .accordion-titel h4 {margin: 0; padding: 0; position: relative;font-size: 22pt;padding-right: 20px;}
.faq .accordion-titel h4 p {margin: 0;}
.faq .accordion-titel strong {font-weight: 500;}
.faq .accordion-titel h4::before {position: absolute; content: '' ;background:url(plus.png) no-repeat; background-size: 100% 100% !important; width: 18px; height: 18px; right: 0; top: 9px;}
.faq .accordion-titel.active h4::before {background:url(minus.png) no-repeat;}
.faq .heading {padding: 50px 0 40px;border-top: 1px solid #5e5e5e;}
.faq .heading h2 {margin: 0;}
.faq .full-faq:nth-child(1) .heading {padding-top: 0;border: none;}
.multiple-question {padding: 100px 0;}
.multiple-question .container-fluid {padding-left:80px; padding-right:80px;}
.faq_content ul li {font-size: 14pt; margin-bottom: 20px;;}
.faq_content ul li a {color: #00b0dc;}
.faq_content {margin-top: 5px;}

.contact-bg-wrap {background: url(contact-bg.png) no-repeat;max-width: 550px; margin: 0 auto; background-size: cover; background-position: center center;padding: 20px 15px;position: relative;}
.contact-bg-wrap:before {position: absolute;content: '';background: #fff; width: calc(100% - 4px);height: calc(100% - 5px);left: 2px;top: 2px;}
.contact-bg-wrap .info h4 {font-size: 18pt;color: #00AFDB;}
.contact-bg-wrap .info p, .contact-bg-wrap .info a {font-size: 12pt;line-height: 20pt;}
.contact-bg-wrap .field__input {border: 1px solid #8B8B8B;border-radius: 5px;padding: 10px;font-size: 14px;font-size: 12px;letter-spacing: 0;color: #000;}
.contact-bg-wrap .btn::before, .contact-bg-wrap .btn::after {display: none;}
.contact-bg-wrap .field-group span {display: block;font-size: 10pt;font-weight: 500;color: #000;margin-bottom: 5px;}
.contact-bg-wrap .field-group {margin-bottom: 10px;;}
.contact-bg-wrap .contact__fields {margin-top: 20px;}
.contact-bg-wrap .contact__button {margin-top: 20px;} 
.contact-bg-wrap .contact__button .btn {min-width: 220px;letter-spacing: 0;}
.contact .title  {font-size: 48px;line-height: 58px;margin-bottom: 20px;}
.contact-bg-wrap .field__input::placeholder {color: #000;opacity: 1;}
.contact-bg-wrap .field__input:-ms-input-placeholder { color: #000;}
.contact-bg-wrap .field__input::-ms-input-placeholder { color: #000;}
.contact-bg-wrap .contact__fields.three-column {grid-template-columns: repeat(3,1fr);grid-column-gap: 1rem;margin-top: 0;}

.make-video .video_image img {width: 100%; height: 100%; object-fit: cover;}
.make-video .video_image {height: 100%;;}
.make-video .video-info {padding: 70px;height: 100%;}
.make-video .video-making-form {max-width: 100%;;}
.make-video .video-making-form .contact-bg-wrap {margin-left: 0;margin-top: 50px;}
.make-video .video-info h2 {max-width: 480px;}
.make-video .video-info ul li {display: flex;margin-bottom: 20px;font-size: 14pt;}
.make-video .video-info ul li span {font-weight: 700;display: inline-block;margin-right: 10px;}

.shop-now-button {position: fixed;right: 30px;bottom: 30px;max-width: 150px;max-height: 150px;overflow: hidden;border-radius: 100%;z-index: 9;}

.collection-hero .collection-hero__title {margin-top: 100px;}
.facets-container .facets__summary, .facets-container .facet-filters__field .select__select, .facets-container .mobile-facets__sort .select__select,
.product-count__text, .facets__heading
{font-family: 'Poppins';letter-spacing: 0;color: #000;}
.collection .card {border: none;}
.collection .card .card__inner .card__media {border: 1px solid #ddd;}
.collection .card__heading {font-family: 'Poppins';font-size: 14px;color: #000;letter-spacing: 0;}
.collection .price  {letter-spacing: 0;font-family: 'Poppins';font-weight: 600;color: #000;}

.product .product__title h1 {font-size: 48px; line-height: 58px;}
#opinew-stars-plugin-product {text-align: left !important;}
#opinew-stars-plugin-product .stars-color {color: #00B0DC !important;}
.opinew-no-reviews-stars-plugin b {font-weight: 400;}
.product .price {letter-spacing: 0;color: #00B0DC;font-weight: 700;font-size: 20pt;line-height: 20pt;}
.product .product__description  {color: #8A8A8A;font-size: 14pt;}
.product .product__info-container>*+*, .product__info-container .product-form, .product__info-container .product__description, .product__info-container .icon-with-text {margin: 2rem 0 !important;}
.product .quantity__label {display: none;}
.product .quantity__button {background: url(btn-bg.png) no-repeat; background-size: 100% 100%; background-position: center center;}
.product .quantity__button svg {width: 24px;;color: #fff;}
.product .quantity__input {font-size: 18px;color: #000;}
.product-media-modal__content img {max-width: 400px;}
.product .product-form__submit {background: url(btn-bg.png) no-repeat;background-size: cover;background-position: center center;border-radius: 50px;padding: 15px 40px;color: #fff;letter-spacing: 0;font-size: 20pt;box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.03), 0px 7px 10px 0px rgba(0, 0, 0, 0.14);text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);margin-bottom: 2rem;}
.product .product-form__submit::before, .product .product-form__submit::after, .shopify-payment-button__button:before, .shopify-payment-button__button::after {display: none;}
.shopify-payment-button__button  {letter-spacing: 0 !important;font-size: 20pt !important;border-radius: 50px !important;padding: 15px 40px; box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.03), 0px 7px 10px 0px rgba(0, 0, 0, 0.14);text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);}
.product__accordion .accordion__title  {font-size: 25pt;color: #000;letter-spacing: 0;font-weight: 700;}
.product .product__accordion {border-top: none !important; border-bottom: 1px solid #8A8A8A !important;margin: 0 !important;}
.accordion.product__accordion  summary {padding: 2rem 0;}
.product  .product__accordion .accordion__content {padding: 0;margin-bottom: 2rem;font-size: 14pt;}
.product summary .icon-caret {background: url(plus.png) no-repeat;background-size: 20px !important;width: 20px; height: 20px !important;color: transparent;top: 27px;}
.product .accordion details[open]>summary .icon-caret {background: url(minus.png) no-repeat;}
.product .return-policy {margin-top: 100px !important;}
.product .return-policy ul {display: flex; flex-wrap: wrap;align-items: center;}
.product .return-policy ul li {width: 33.33%;padding: 0 10px;}
.why-choose-people .head-sub {text-align: center;margin-bottom: 50px;}
.why-choose-people .head-sub h3 {font-size: 48px;}
.why-choose-people .head-sub h3 + h3 {font-size: 14pt; font-weight: 400;}
.why-choose-people .col {width: 14.28%;}
.why-choose-people .video-wrap {height: 260px; overflow: hidden;position: relative;}
.why-choose-people .video-wrap video {width: 100%; height: 260px; object-fit: cover;}
.why-choose-people .video-wrap .playbtn {position: absolute;top: 50%;background: none;max-width: 50px;border-radius: 100%;overflow: hidden;transform: translateY(-50%);right: 0; margin: 0 auto;left: 0; cursor: pointer;}
.why-choose-people .video-wrap .playbtn img {background-color: rgba(0,0,0,0.2);}
.shopify-section.benefit {background: url(color-bg-3.jpg) no-repeat; padding: 100px 0;margin-top: 100px; background-position: center center;background-size: cover;}
.shopify-section.benefit .container-fluid {max-width: 1430px; text-align: center;}
.shopify-section.benefit .product_image {max-width: 240px;margin: 0 auto 30px;}

cart-items .title-wrapper-with-link a {color: #000;text-decoration: underline;text-transform: capitalize;}
cart-remove-button .button {color: red;}
.cart-item__name {letter-spacing: 0;}
.price {letter-spacing: 0;}
.cart__checkout-button::before, .cart__checkout-button::after, .button::before, .button::after, button:before, button::after  {display: none;}
.cart__checkout-button, .cart__warnings .button, .customer button {border-radius: 50px;letter-spacing: 0;color: #fff;}
.cart__warnings {padding-bottom: 7rem !important;}
.cart-notification-product__name, #cart-notification-button, #cart-notification-form .button, .cart-notification__links .link, .cart-notification__heading {letter-spacing: 0;}
.customer h1 {font-size: 48px; line-height: 58px;outline: 0;box-shadow: none;}
.customer button {background: #000 !important; color: #fff !important;display: block;margin-left: auto !important;margin-right: auto !important;}
.addresses h2 {text-align: center !important;}

.template-search__header h1 {font-size: 48px;line-height: 58px;}
.template-search__header p {text-align: center;}
.facet-filters__sort {padding-left: 10px !important;}
.shopify-section.benefit .details {text-align: center;}
.shopify-section.benefit .details .benefit {display: flex; align-items: center; justify-content: center; margin-bottom: 30px;}
.shopify-section.benefit .details .benefit .benefit-image {width: 65px;height: 65px;overflow: hidden;min-width: 65px;margin-right: 20px;}
.shopify-section.benefit .details .benefit .benefit-image img {width: 100%;height: 100%;object-fit: contain;}
.shopify-section.benefit .details .benefit .benefit-head h2 {font-size: 20pt;margin: 0;line-height: 24pt;text-align: left;}
.shopify-section.benefit .details .benefit .benefit-head {width: 100%; max-width: 355px;}
.benifits-max-wrap {max-width: 904px;margin: 60px auto 30px;}
.small-logo ul {display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}
.small-logo ul li {width: 11.11%;padding: 0 15px;}
.small-logo ul li img {width: 100%; height: 100%; object-fit: contain;}
.zelaze-component {text-align: center;padding: 100px 0 50px;}
.zelaze-component h2 {margin-bottom: 50px;}
.single-chosse figure {max-width: 135px; max-height: 135px; overflow: hidden; margin: 0 auto 20px;}
.single-chosse figure img {width: 100%; height: 100%; object-fit: contain;}
.single-chosse figcaption h4 {font-size: 20pt;min-height: 64px;}
.single-chosse figcaption p {font-size: 14pt;}
.single-chosse {padding: 0 15px;}
.choose-wrap .col-lg-3 {margin-bottom: 50px;}
.shopify-section.comperision {padding: 100px 0;background: url(color-bg-3.jpg) no-repeat;background-size: cover;background-position: center center;}
.shopify-section.comperision .comperision-heading {text-align: center;margin-bottom: 50px;}
.shopify-section.comperision .com-img {max-width: 340px;height: 340px;overflow: hidden;border-radius: 100%;border: 3px solid #fff;margin: 0 auto;}
.shopify-section.comperision .com-img img {width: 100%;height: 100%;object-fit: cover;}
.shopify-section.comperision table tr td, .shopify-section.comperision table tr th {vertical-align: middle;text-align: center;border-color: #313BA8;padding: 15px;background: #fff;}
.shopify-section.comperision table tr th {font-weight: 500; font-size: 20pt; line-height: 20pt;}
.shopify-section.comperision table tr td {font-size: 18pt; color: #313BA8;line-height: 18pt;max-width: 460px;}
.shopify-section.comperision table tr {border-color: #313BA8;}
.shopify-section.comperision .col-lg-8 .details {position: relative;}
.shopify-section.comperision .col-lg-8 .details::before {position: absolute; content: '';background: #313BA8;width: 100%;height: 100%;right: -10px;bottom: -10px;}
.shopify-section.comperision .table  {margin: 0; position: relative;}
.main-page-title {letter-spacing: 0;}

.shopify-app-block .jdgm-all-reviews-text a {justify-content: left !important;}
.shopify-app-block .subify-product-price-wrapper {margin: 0 !important;}
.subify-product-price-wrapper .subify-current-price {font-size: 24px !important;color: #00b0dc !important;}
.subify-widget-box {border-radius: 0 !important;border-color: #00b0dc !important;}
.subify-choice-box-wrapper {border: none !important;}
.subify-choice-box-wrapper.active {background: #f0f0f0;}
.subify-root [type='radio']:checked + label:before, .subify-root [type='radio']:not(:checked) + label:before {border: 2px solid #838080 !important;}
.subify-root [type='radio']:checked + label:after, .subify-root [type='radio']:not(:checked) + label:after {background: #00b0dc !important;}
.subify-choice-price, .subify-selling-plan-price {color: #00b0dc !important;}
.subify-widget-main-title, .subify-selling-plan-section-title {padding-left: 0 !important;}
.subify-powered-text {opacity: 0 !important;}
.product__info-wrapper {overflow: hidden;}
.instagram-feed .jdgm-rev-widg {padding: 0;}
.instagram-feed {padding: 80px 0;}
.instagram-feed .jdgm-rev-widg__title {font-size: 36px; margin-bottom: 50px !important;}
.subify-product-price-wrapper .subify-discount-percentage {border: none !important;background: #ddd !important;border-radius: 0 !important;text-transform: uppercase !important;}

.track-order {padding-bottom: 100px;}
.track-order ul li {margin-top: 20px;}
.track-order ul li a {color: #fff;background: #000;padding: 15px 30px;border-radius: 50px;}
.shopify-challenge__button {margin-top: 30px !important;}
.banner-text .btn, .product-select .right-side .btn {border-radius: 50px;padding: 17px 70px;font-size: 25px;border-radius: 50px;}
.product-select .right-side .shopify-app-block .jdgm-all-reviews-text a {justify-content: center !important;margin-bottom: 20px;}
.jdgm-all-reviews-text--style-branded .jdgm-all-reviews-rating:before {color: #00aed9 !important;}
.instagram-feed .shopify-app-block .jdgm-all-reviews-text a {justify-content: center !important;}
.social-media .list-social {align-items: center;}
.social-media .list-social img.tiktok {width: 25px;}
.instagram-feed .jdgm-carousel--done .jdgm-carousel__item-container {border: 1px solid #ddd;padding: 20px;}
.instagram-feed .jdgm-carousel-wrapper {width: 100% !important;}
.instagram-feed .jdgm-carousel-title {margin-bottom: 30px !important;}
.instagram-feed .jdgm-carousel__right-arrow, .instagram-feed .jdgm-carousel__left-arrow {border-color: #000 !important;}

.mobile-banner{display: none;}
/*---Responsive---*/

@media screen and (min-width: 1700px) {
.container {max-width: 1430px;}
.page-width {max-width: 1430px; padding-left: 12px; padding-right: 12px;;}
}

@media screen and (max-width: 1699px) {
body {font-size: 16px;;}
.btn {font-size: 16px;;}
h1 {font-size: 48px;line-height: 58px;}
h2 {font-size: 36px;line-height: 46px;}
.banner-text .left {padding: 60px;padding-right: 60px;}
.banner-text .client .client-img {min-width: 180px;max-width: 180px;}
.banner-text .client .client-info h4 {font-size: 25pt;line-height: 40px;}
.product-select .right-side h3 {font-size: 14pt;}
.product-select .right-side {padding: 60px}
.product-select .details-list ul li h4 {font-size: 14pt;min-width: 205px;}
.product-select .details-list ul {max-width: 600px;}
.video-slider .head-sub h6 {font-size: 16pt;}
.video-slider .video-wrap .video, .video-slider .video-wrap {height: 350px;}
.dual-approach .dual-app ul li h6, .custom-image-text .image-with-text__text p {font-size: 16pt;}
.dual-approach .dual-app ul li span {max-width: 100px;max-height: 100px;}
.custom-image-text .image-with-text__heading {font-size: 36px;}
#insta-feed h2 {font-size: 36px !important;}
.footer .footer-block__heading, .footer .social-media h4 {font-size: 20pt;}
.footer .footer-block__details-content li a {font-size: 16pt;}
.footer .footer-block--newsletter .footer-block__newsletter {max-width: 480px;}
.custom-header .list-menu .header__menu-item, .custom-header .header__icons .sec_menu ul li a {font-size: 16px;}
.custom-header .header { padding: 0 20px !important;}
.custom-header .list-menu li, .custom-header .header__icons .sec_menu ul li {margin-right: 15px;}
.custom-header .header__heading-link {max-width: 200px;}
.custom-header .header__icons .sec_menu ul li a.btn {padding: 12px 30px;}
.owl-nav .owl-prev {width: 45px;height: 45px;left: -60px;}
.owl-nav .owl-next {width: 45px;height: 45px;right: -60px;}
.footer .footer__content-bottom .footer-content {max-width: 200px;}
.footer .footer__content-bottom {padding: 30px 0;}
.shop-now-button {right: 15px;bottom: 15px; max-width: 75px;max-height: 75px;}
.result-banner .banner-details h1 {font-size: 48px;line-height: 58px;}
.why-choose-people .head-sub h3 {font-size: 36px;}
}

@media screen and (max-width: 1299px) {
 body {font-size: 14px;}
 .btn {font-size: 14px;}
 h1 {font-size: 36px;line-height: 46px;}
 h2 {font-size: 30px;line-height: 40px;}
.custom-header .list-menu .header__menu-item, .custom-header .header__icons .sec_menu ul li a {font-size: 14px;}
.custom-header .header__icons .sec_menu ul li a.btn {padding: 10px 15px;}
.banner-text .client .client-info h4 {font-size: 14pt;line-height: 20pt;}
.banner-text .client .client-info h6 {font-size: 12pt;}
.banner-text .client .client-img {min-width: 150px;max-width: 150px;}
.owl-nav .owl-prev {left: 0;position: relative;transform: none;top: 0; margin: 0 10px !important;}
.owl-nav .owl-next {right: 0;position: relative;transform: none;top: 0;margin: 0 10px !important;}
.client-feedback, .video-slider, .dual-approach, .custom-image-text {padding-top: 50px; padding-bottom: 50px;}
.video-slider .head-sub h6 {font-size: 14px;}
.video-slider .video-wrap .video, .video-slider .video-wrap {height: 300px;}
.product-select .right-side h3 {font-size: 14px;letter-spacing: 2px;}
.product-select .details-list ul li h4 {font-size: 16px;min-width: 175px;}
.product-select .details-list ul {max-width: 500px;}
.product-select .details-list ul li img {width: 45px;height: 45px;margin-right: 10px;}
.product-select .right-side {padding: 50px;}
.dual-approach .dual-app ul li span {max-width: 60px;max-height: 60px;margin-bottom: 20px;}
.dual-approach .dual-app ul li h6, .custom-image-text .image-with-text__text p {font-size: 16px;}
#insta-feed h2 {font-size: 30px !important;}
#insta-feed {margin-bottom: 50px !important;}
.footer {padding-top: 50px !important;}
.footer .footer-block__heading, .footer .social-media h4 {font-size: 16pt;margin-bottom: 20px;}
.footer .footer-block__details-content li a {font-size: 16px;}
.footer .footer-block__details-content li {margin-bottom: 10px;}
.footer .footer__content-top {padding-bottom: 50px;}
.footer .footer-block--newsletter {margin-top: 50px;}
.footer .footer__content-bottom .footer-content {max-width: 150px;}
.footer .footer__content-bottom {padding: 15px 0;}
.video-slider .owl-nav .owl-prev, .video-slider .owl-nav .owl-next {top: 0;transform: none;}
.banner-text .left {padding: 50px;padding-right: 50px;}
.custom-image-text .image-with-text__heading {font-size: 30px;}
.result-banner .banner-details h1 {font-size: 36px;line-height: 46px;}
.image-text .container .row:nth-child(even), .image-text {padding: 50px 0;}
.contact .title {font-size: 36px;line-height: 46px;}
.product .product__title h1 {font-size: 36px;line-height: 46px;}
.product .product__description {font-size: 14px;}
}

@media screen and (max-width: 1199px) {
.custom-header .header {padding: 0 12px !important;}
.custom-header .list-menu li, .custom-header .header__icons .sec_menu ul li {margin-right: 10px;}
.custom-header .header__heading-link {max-width: 150px;}
.custom-header .list-menu .header__menu-item, .custom-header .header__icons .sec_menu ul li a {font-size: 12px;}
.custom-header .header__icons .sec_menu ul li a.btn {padding: 6px 10px;}
.result-banner .banner-details {padding-left: 30px;padding-right: 30px;}
.client-feedback .container-fluid {padding-left: 30px;padding-right: 30px;}
.multiple-question .container-fluid {padding-left: 30px;padding-right: 30px;}
.multiple-question {padding: 50px 0;}
.faq .accordion-titel {padding: 30px 0;}
.faq .accordion-titel h4 {font-size: 14pt;}
.faq .accordion-contant {padding: 0 0 30px}
.faq .accordion-titel h4::before {top: 3px;}
.faq .heading {padding: 30px 0 20px;}
.faq_content ul li {font-size: 12pt;margin-bottom: 15px;}
.product .product-form__submit, .shopify-payment-button__button {font-size: 14pt !important;}
.product__accordion .accordion__title, .product .product__accordion .accordion__content {font-size: 14px;}
.product summary .icon-caret {top: 19px;}
.why-choose-people .col {width: 25%;flex: auto;margin-bottom: 15px;}
.shopify-section.benefit .details .benefit .benefit-head h2 {font-size: 14pt;line-height: 20pt;}
.shopify-section.benefit .details .benefit .benefit-image {width: 50px;height: 50px;min-width: 50px;margin-right: 15px;}
.shopify-section.benefit .details .benefit {margin-bottom: 20px;}
.shopify-section.benefit .details .benefit .benefit-head {max-width: 255px;}
.benifits-max-wrap {max-width: 750px;margin: 40px auto 30px;}
.shopify-section.benefit {padding: 50px 0;margin-top: 50px;}
.zelaze-component {padding-top: 50px;padding-bottom: 10px;}
.single-chosse figure {max-width: 60px;max-height: 60px;}
.single-chosse figcaption h4 {font-size: 14pt;min-height: 45px;}
.single-chosse figcaption p {font-size: 14px;}
.choose-wrap .col-lg-3 {margin-bottom: 30px;}
.single-chosse {padding: 0 0;}
.shopify-section.comperision {padding: 50px 0;}
.shopify-section.comperision .com-img {max-width: 250px;height: 250px;}
.shopify-section.comperision table tr th {font-size: 16px;line-height: 16px;}
.shopify-section.comperision table tr td, .shopify-section.comperision table tr th {padding: 10px;}
.shopify-section.comperision table tr td {font-size: 14px;line-height: 20px;}
.why-choose-people .head-sub h3 + h3 {font-size: 14px;}
.small-logo ul li {padding: 0 10px;}
.shopify-section.comperision .comperision-heading {margin-bottom: 30px;}
.banner-text .btn, .product-select .right-side .btn {padding: 12px 40px;font-size: 14px;}
}

@media screen and (max-width: 991px) {
.banner-text .left {text-align: center;padding: 50px 15px;}
.banner-text .client {justify-content: center;text-align: left; max-width: 480px;margin-left: auto;margin-right: auto;margin-top: 40px;}
.banner-text .client .client-img {min-width: 120px;max-width: 120px;margin-right: 15px;}
.banner-text .left h1 {margin-bottom: 30px;}
.product-select .right-side {padding: 50px 15px;}
.client-feedback .container-fluid {padding-left: 15px;padding-right: 15px;}
.dual-approach .dual-app ul li {width: 50%;margin-bottom: 30px;}
.dual-approach .dual-app ul li h6 {max-width: 170px;}
.custom-image-text .image-with-text__content {padding: 0;}
.result-banner .banner-details {padding-left: 15px;padding-right: 15px;max-width: 100%;padding-top: 30px;}
.image-text .content-details {padding-left: 0;padding-top: 30px;}
.image-text .container .row:nth-child(even) {flex-direction: column-reverse;padding: 30px 0;}
.image-text .container .row:nth-child(even) .content-details {padding-right: 0;}
.collection-hero .collection-hero__title {margin-top: 50px;margin-bottom: 0;}
.mobile-facets__open-label {letter-spacing: 0 !important;}
.make-video .video-info {padding: 50px 15px;}
.contact-bg-wrap .contact__button .btn {min-width: auto;}
.make-video .video-info h2 {max-width: 100%;}
.make-video .video-info ul li {margin-bottom: 10px;font-size: 14px;}
.contact-bg-wrap {max-width: 100%;}
.make-video .video-making-form .contact-bg-wrap {margin-top: 30px;}
.multiple-question .container-fluid {padding-left: 15px;padding-right: 15px;}
.faq_content {margin-bottom: 30px;}
.contact-bg-wrap .info h4 {font-size: 14pt;}
.small-logo ul li {width: 20%; margin-bottom: 20px;}
.choose-wrap .col-lg-3 {width: 50%;}
.single-chosse figcaption h4 {min-height: auto;}
.shopify-section.comperision .com-img {margin-bottom: 30px;}
.product .return-policy {margin-top: 50px !important;}
.why-choose-people .head-sub h3 {font-size: 30px;}
.main-page-title {font-size: 36px;}
}

@media screen and (max-width: 989px) {
.menu-drawer__inner-container {background: #f6f6f6;}
.menu-drawer__menu-item {font-size: 14px !important;color: #000;font-weight: 500;}
#menu-drawer .menu-drawer__utility-links .list-social, .custom-header .header__icons .sec_menu {display: none;}
.footer .footer-block--newsletter .footer-block__newsletter {max-width: 400px;}
/* .footer .social-media .list-social__item .icon {height: 1.8rem;width: 1.8rem;} */
.footer .social-media ul li {margin-left: 15px;}
.footer .newsletter-form__button {min-width: 150px; padding: 7px 0px;}
.footer .field__input { padding-right: 16rem!important; height: auto; padding-top: 11px; padding-bottom: 11px;}
/* .shop-now-button {right: 10px;bottom: 10px;max-width: 50px;max-height: 50px;} */
.menu-drawer__account {margin-bottom: 0 !important; letter-spacing: 0;}
.product .product__title h1 {font-size: 30px;line-height: 40px;}
.why-choose-people .col {width: 50%;}

/**/
.header__search .header__icon--search { position: absolute; left: 40px; top: 10px; }
.desktop-banner{display: none;}
.mobile-banner{display: block;}
.banner-text .mobile-banner .right { height: 100%; width: 100%; position: relative; }
.banner-text .mobile-banner .right .left { position: absolute; z-index: 2; top: 60px; right: 0; background: transparent; text-align: left; padding: 0; width: 190px; height: auto;}
.banner-text .mobile-banner .right .left h1 { margin-bottom: 15px; line-height: 1; color: #fff; }
.banner-text .mobile-banner .left { text-align: center; padding: 30px 25px; }
.banner-text .mobile-banner .client { justify-content: center; text-align: left; max-width: 480px; margin-left: auto; margin-right: auto; margin-top: 0; }
.banner-text .mobile-banner .client .client-img { min-width: 170px; max-width: 170px; margin-right: 25px; height: 130px;}
.banner-text .client .client-img img { object-position: top; }
.banner-text .client .client-info h4 { font-size: 20px; line-height: 1.2; margin-bottom: 15px; }
.banner-text .client .client-info h6 { font-size: 16px; }
.client-feedback { padding: 50px 0 35px; }
.client-feedback h2 { font-size: 32px; }
.client-feedback .owl-carousel .owl-nav button.owl-prev { position: absolute; left: 0; top: 33%;transform: translateY(-33%); margin: 0 !important;}
.client-feedback .owl-carousel .owl-nav button.owl-next{position: absolute; right: 0; top: 33%;transform: translateY(-33%); margin: 0 !important;}
.client-feedback .owl-carousel .item{padding: 0 70px;} 
.client-feedback .client-info p { margin: 0 auto 20px; max-width: 360px; }
.client-feedback .client-info { padding: 20px 0 0; }
.product-select-lt{display: none;}
.banner-text .btn, .product-select .right-side .btn { padding: 10px 40px; font-size: 18px; line-height: 22px; text-transform: capitalize; }
.product-select .right-side .product-select-bottom-text, .product-select .right-side .review-widget { display: none; }
.product-select .right-side { padding: 45px 15px 23px; }
.product-select .right-side h2 { font-size: 27px; max-width: 265px; margin: 0 auto 13px; }
.product-select .right-side h3 { font-size: 15px; letter-spacing: 2px; max-width: 240px; margin: 0 auto; }
.product-select .details-list ul { max-width: 500px; margin: 20px 0 0; }
.product-select .right-side .top-logo-ps { margin-bottom: 20px; line-height: 0; }
.product-select .details-list ul li { display: flex; text-align: center; padding: 0 5px; margin-bottom: 22px; align-items: center; }
.product-select .details-list ul li h4 { min-width: auto; text-align: left; max-width: 150px; margin: 0 auto 0 12px; font-size: 14px; }
.video-slider, .dual-approach { display: none; }
.custom-image-text { padding-top: 20px; padding-bottom: 45px; text-align: center; }
.custom-image-text .image-with-text__heading { font-size: 27px; max-width: 190px; margin: 0 auto; }
.custom-image-text .image-with-text__text p { max-width: 302px; margin: 0 auto; display: block; }
.image-with-text__text { width: 100%; }
.instagram-feed { padding: 0 0 50px; }
#insta-feed { margin-bottom: 0px!important; }
#insta-feed .slider-arrow, .instafeed-shopify .slider-arrow { background: url(btn-bg.png) no-repeat; background-size: 100% 100%; background-position: center center; width: 44px !important; height: 44px !important; display: flex; align-items: center; justify-content: center; color: #fff !important; font-size: 26px !important; }
.footer .footer__content-top { padding: 45px 28px 45px 45px; }
.footer { padding-top: 0 !important; position: relative;}
.footer .footer-block__heading { font-size: 24px; margin-bottom: 30px;}
.footer .footer-block__details-content li { margin-bottom: 15px; }
.footer .footer-block__details-content li a { font-size: 19px; }
.social-media { text-align: center; width: 100%; margin-top: 20px; }
.social-media h4{display: none;}
.footer .newsletter-form__field-wrapper .field__label { top: 50%; letter-spacing: 0; transform: translateY(-50%); }
.footer .social-media .list-social__item .icon { height: 2.9rem; width: 2.9rem; }
.footer .footer__content-bottom { padding: 22px 0; }
.shop-now-button { right: 26px; bottom: auto; max-width: 122px; max-height: 122px; top: 305px; position: absolute; }
}

@media screen and (max-width: 749px) {
h1 {font-size: 30px;line-height: 40px;}
.dual-approach .dual-app ul li:last-child {margin-bottom: 0;}
.footer .footer__blocks-wrapper .footer-block.grid__item:nth-child(2) {padding-left: 0;}
.footer .footer-block--newsletter .footer-block__heading, .footer .footer-block--newsletter .footer-block__subheading, .footer .footer-block__heading, .footer .social-media h4 {text-align: left;}
.footer .footer-block--newsletter .footer-block__newsletter {max-width: 100%;width: 100%;}
.footer__list-social.list-social, .footer__follow-on-shop, .footer-block__newsletter {justify-content: left;}
.footer .social-media ul li {margin-left: 0;margin-right: 15px;}
.result-banner .banner-details h1 {font-size: 30px;line-height: 40px;}
.main-page-title {font-size: 30px;}
.contact .title {font-size: 30px;line-height: 40px;}
.product-form__buttons {max-width: 100%;}
.product .return-policy ul li {text-align: center;}
.shopify-section.benefit .details .benefit .benefit-head h2 {font-size: 16px;line-height: 20px;}
.shopify-section.comperision .col-lg-8 .details::before {right: -3px;bottom: -3px;}
.customer h1, .template-search__header h1 {font-size: 30px;line-height: 40px;}
cart-items .title-wrapper-with-link a {font-size: 12px;}
.instagram-feed .jdgm-rev-widg__title {font-size: 24px;margin-bottom: 30px !important;}
/* .instagram-feed {padding: 50px 0;} */
.track-order {padding-bottom: 50px;}
}

@media screen and (max-width: 480px) {
h2 {font-size: 24px;line-height: 34px;}
/* .product-select .details-list ul li {display: block;text-align: center;padding: 0 5px;} */
.video-slider .video-wrap .video, .video-slider .video-wrap {height: 350px;}
/* .footer .footer__content-top {padding-left: 15px;padding-right: 15px;} */
.footer .newsletter-form__button {min-width: 130px; /*padding-left: 15px;padding-right: 15px;*/}
.footer .field__input {padding-right: 14rem !important;}
/* .product-select .details-list ul li h4 {min-width: auto;text-align: center; max-width: 150px;margin: 15px auto 0; font-size: 14px;} */
.product-select .details-list ul li img { margin-right: 0;}
.dual-approach .dual-app ul li h6, .custom-image-text .image-with-text__text p {font-size: 14px;}
/* .banner-text .client .client-info h4 {font-size: 14px;line-height: 20px;}
.banner-text .client .client-info h6 {font-size: 12px;} */
/* .custom-image-text .image-with-text__heading {font-size: 24px;} */
.image-text .content_img {border-top-left-radius: 30px;border-bottom-right-radius: 30px;}
.faq .accordion-titel h4 {font-size: 14px;}
.why-choose-people .col { width: 100%;}
.shopify-section.benefit .details .benefit {display: block;text-align: center;}
.shopify-section.benefit .details .benefit .benefit-image {margin-left: auto;margin-right: auto;margin-bottom: 15px;}
.shopify-section.benefit .details .benefit .benefit-head {max-width: 100%;}
.shopify-section.benefit .details .benefit .benefit-head h2  {text-align: center;}
.small-logo ul li {width: 33.33%;}
.choose-wrap .col-lg-3 {width: 100%;}
.product .product__title h1, .why-choose-people .head-sub h3 {font-size: 24px;line-height: 34px;}
.product-media-modal__content img {max-width: 270px;}
}

/*---Responsive---*/